Repository Ortolang/diffusion: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, vulnerability_detection, maven_docker_build

.gitlab-ci.yml:

image: docker:18.06.0

services:
- docker:18.06.0-dind

variables:
  GIT_SSL_NO_VERIFY: "true"
  ORTOLANG_DIFFUSION_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
  TRIGGER_DEPLOY_DEV_PROJECT_ID: "79"

stages:
  - test
  - build
  - deploy

include:
  - project: "gitlab1/gitlab-ci"
    ref: 2.1.1
    file: "/base.yml"
  - project: 'gitlab1/gitlab-ci'
    ref: 2.2.0
    file: '/trigger/deploy_dev.yml'

test:
  image: maven:3.6.1-jdk-8-alpine
  stage: test
  tags:
    - ortolang-docker-bind
  before_script:
    - export WILDFLY_VERSION=24.0.0.Final
    - curl -O "https://download.jboss.org/wildfly/${WILDFLY_VERSION}/wildfly-${WILDFLY_VERSION}.zip"
    - unzip wildfly-${WILDFLY_VERSION}.zip
    - export JBOSS_HOME=$PWD/wildfly-${WILDFLY_VERSION}
    - cp comp/src/test/resources/ortolang-users.properties wildfly-${WILDFLY_VERSION}/standalone/configuration/
    - cp comp/src/test/resources/ortolang-roles.properties wildfly-${WILDFLY_VERSION}/standalone/configuration/
    - cp comp/src/test/resources/ortolang-test-${WILDFLY_VERSION}.xml wildfly-${WILDFLY_VERSION}/standalone/configuration/standalone.xml
  script: 
    - mvn clean test -DjbossHome=$PWD/wildfly-${WILDFLY_VERSION} -Djboss.home=$PWD/wildfly-${WILDFLY_VERSION}
  only:
    refs:
      - master
      - branches
    changes:
      - .gitlab-ci.yml
      - Dockerfile
      - api/src/**/*
      - appli/src/**/*
      - comp/src/**/*

# See https://dtrack.ortolang.fr/projects/
vulnerability_detection:
  image: maven:3.6.1-jdk-8-alpine
  stage: test
  tags:
    - ortolang-docker-bind
  before_script:
    - apk add --update coreutils
  script: 
    - mvn -q -DskipTests cyclonedx:makeAggregateBom
    - ./dtrack-bom-upload.sh
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - dtrack-bom-upload.sh
      - pom.xml
      - api/pom.xml
      - appli/pom.xml
      - comp/pom.xml

maven_docker_build:
  stage: build
  tags:
    - ortolang-docker-bind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $ORTOLANG_DIFFUSION_IMAGE --build-arg CUSTOM_UID=$OLREPO_UID --build-arg CUSTOM_GID=$OLREPO_GID --add-host=maven.ortolang.fr:192.168.37.63 .
    - docker push $ORTOLANG_DIFFUSION_IMAGE
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - Dockerfile
      - api/src/**/*
      - appli/src/**/*
      - comp/src/**/*
      - src/main/docker/**/*

docker_tag_from_master:
  stage: build
  tags:
    - ortolang-docker-bind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:master
    - docker tag $CI_REGISTRY_IMAGE:master $ORTOLANG_DIFFUSION_IMAGE
    - docker push $ORTOLANG_DIFFUSION_IMAGE
  only:
    - tags

[maven-release-plugin] prepare release ortolang-diffusion-9.21.0
  api/pom.xml
  appli/pom.xml
  client/pom.xml
  comp/pom.xml
  pom.xml
Due: vulnerability_detection

[maven-release-plugin] prepare for next development iteration
  api/pom.xml
  appli/pom.xml
  client/pom.xml
  comp/pom.xml
  pom.xml
Due: vulnerability_detection

Fixes removing member of group with parenthesis (Fixes #48)
  comp/src/main/java/fr/ortolang/diffusion/membership/entity/Group.java
  comp/src/test/java/fr/ortolang/diffusion/membership/GroupTest.java
Due: test, maven_docker_build

[maven-release-plugin] prepare release ortolang-diffusion-9.22.0
  api/pom.xml
  appli/pom.xml
  client/pom.xml
  comp/pom.xml
  pom.xml
Due: vulnerability_detection

Resolve "Add form creation"
  api/src/main/java/fr/ortolang/diffusion/api/form/FormResource.java
Due: test, maven_docker_build

Updates centos mirror url
  Dockerfile
Due: test, maven_docker_build

Allows to specify a key
  api/src/main/java/fr/ortolang/diffusion/api/form/FormResource.java
Due: test, maven_docker_build

Updates docker image for dev
  Dockerfile.dev
Due: none

Ignores data directory
  .dockerignore
Due: none

[maven-release-plugin] prepare release ortolang-diffusion-9.23.0
  api/pom.xml
  appli/pom.xml
  client/pom.xml
  comp/pom.xml
  pom.xml
Due: vulnerability_detection
