Repository Ortolang/diffusion: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, maven_docker_build, deploy_on_dev

.gitlab-ci.yml:

image: docker:18.06.0

services:
- docker:18.06.0-dind

variables:
  GIT_SSL_NO_VERIFY: "true"
  ORTOLANG_DIFFUSION_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME

stages:
  - test
  - build
  - deploy

test:
  image: maven:3.6.1-jdk-8-alpine
  stage: test
  tags:
    - ortolang-docker-bind
  before_script:
    - export WILDFLY_VERSION=12.0.0.Final
    - curl -O "https://download.jboss.org/wildfly/${WILDFLY_VERSION}/wildfly-${WILDFLY_VERSION}.zip"
    - unzip wildfly-${WILDFLY_VERSION}.zip
    - export JBOSS_HOME=$PWD/wildfly-${WILDFLY_VERSION}
    - cp comp/src/test/resources/ortolang-users.properties wildfly-${WILDFLY_VERSION}/standalone/configuration/
    - cp comp/src/test/resources/ortolang-roles.properties wildfly-${WILDFLY_VERSION}/standalone/configuration/
    - cp comp/src/test/resources/ortolang-test-${WILDFLY_VERSION}.xml wildfly-${WILDFLY_VERSION}/standalone/configuration/standalone.xml
  script: 
    - mvn clean test -DjbossHome=$PWD/wildfly-${WILDFLY_VERSION} -Djboss.home=$PWD/wildfly-${WILDFLY_VERSION}
  only:
    refs:
      - master
      - branches
    changes:
      - Dockerfile
      - api/src/**/*
      - appli/src/**/*
      - comp/src/**/*
     
maven_docker_build:
  stage: build
  tags:
    - ortolang-docker-bind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $ORTOLANG_DIFFUSION_IMAGE --build-arg CUSTOM_UID=$OLREPO_UID --build-arg CUSTOM_GID=$OLREPO_GID --add-host=maven.ortolang.fr:192.168.37.63 .
    - docker push $ORTOLANG_DIFFUSION_IMAGE
  only:
    refs:
      - master
      - branches
    changes:
      - Dockerfile
      - api/src/**/*
      - appli/src/**/*
      - comp/src/**/*
      - src/main/docker/**/*

docker_tag_from_master:
  stage: build
  tags:
    - ortolang-docker-bind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:master
    - docker tag $CI_REGISTRY_IMAGE:master $ORTOLANG_DIFFUSION_IMAGE
    - docker push $ORTOLANG_DIFFUSION_IMAGE
  only:
    - tags

deploy_on_dev:
  stage: deploy
  tags:
    - ortolang-docker-bind
  only:
    refs:
      - master
    changes:
      - Dockerfile
      - docker/*
      - api/src/**/*
      - appli/src/**/*
      - comp/src/**/*
      - src/main/docker/**/*
  environment:
    name: vdorto
    url: https://repo-dev.ortolang.fr/api/config/version
  image: registry2.atilf.fr/atilf/portainer-cli:1.6.0
  script:
    - portainer-cli -u $PORTAINER_USERNAME -p $PORTAINER_PASSWORD -b http://192.168.37.13:9000 deploy -e "Int√©gration-vdorto" -n ortolang-diffusion_vdorto -f docker/docker-stack.vdorto.yml

[maven-release-plugin] prepare release ortolang-diffusion-9.12.0
  api/pom.xml
  appli/pom.xml
  client/pom.xml
  comp/pom.xml
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  api/pom.xml
  appli/pom.xml
  client/pom.xml
  comp/pom.xml
  pom.xml
Due: none

Resolve "Supports SIP compression"
  comp/src/main/java/fr/ortolang/diffusion/archive/ArchiveListenerBean.java
  comp/src/main/java/fr/ortolang/diffusion/archive/ArchiveService.java
  comp/src/main/java/fr/ortolang/diffusion/archive/ArchiveServiceBean.java
  comp/src/main/java/fr/ortolang/diffusion/archive/ArchiveServiceWorkerBean.java
  pom.xml
Due: test, maven_docker_build, deploy_on_dev

Removes deploy
  .gitlab-ci.yml
Due: none

[maven-release-plugin] prepare release ortolang-diffusion-9.13.0
  api/pom.xml
  appli/pom.xml
  client/pom.xml
  comp/pom.xml
  pom.xml
Due: none

Sets planClassement with ortolang
  comp/src/main/java/fr/ortolang/diffusion/archive/ArchiveServiceBean.java
Due: test, maven_docker_build, deploy_on_dev

[maven-release-plugin] prepare release ortolang-diffusion-9.13.1
  api/pom.xml
  appli/pom.xml
  client/pom.xml
  comp/pom.xml
  pom.xml
Due: none

Resolve "Attempt to return connection twice"
  api/src/main/java/fr/ortolang/diffusion/api/admin/AdminResource.java
  comp/src/main/java/fr/ortolang/diffusion/archive/ArchiveEntry.java
  comp/src/main/java/fr/ortolang/diffusion/archive/ArchiveService.java
  comp/src/main/java/fr/ortolang/diffusion/archive/ArchiveServiceBean.java
  comp/src/main/java/fr/ortolang/diffusion/archive/ArchiveServiceWorkerBean.java
  comp/src/main/java/fr/ortolang/diffusion/archive/facile/FacileServiceBean.java
  comp/src/main/java/fr/ortolang/diffusion/runtime/engine/RuntimeEngineTask.java
  comp/src/main/java/fr/ortolang/diffusion/runtime/engine/task/CreateSipArchiveTask.java
  comp/src/main/resources/runtime/CreateSipArchiveProcess.bpmn
  docker-compose.dev.yml
  src/main/docker/config.properties
Due: test, maven_docker_build, deploy_on_dev

[maven-release-plugin] prepare release ortolang-diffusion-9.14.0
  api/pom.xml
  appli/pom.xml
  client/pom.xml
  comp/pom.xml
  pom.xml
Due: none

Adds root directory DEPOT for SIP (Closes #84)
  comp/src/main/java/fr/ortolang/diffusion/archive/ArchiveServiceBean.java
Due: test, maven_docker_build, deploy_on_dev

Keep the max length of the message to 254 char (#85)
  comp/src/main/java/fr/ortolang/diffusion/jobs/JobServiceBean.java
Due: test, maven_docker_build, deploy_on_dev

[maven-release-plugin] prepare release ortolang-diffusion-9.15.0
  api/pom.xml
  appli/pom.xml
  client/pom.xml
  comp/pom.xml
  pom.xml
Due: none

Resolve "Validator null"
  comp/pom.xml
  comp/src/main/java/fr/ortolang/diffusion/archive/facile/FacileServiceBean.java
  comp/src/main/java/fr/ortolang/diffusion/archive/facile/entity/Validator.java
  comp/src/main/java/fr/ortolang/diffusion/archive/facile/entity/package-info.java
  comp/src/test/java/fr/ortolang/diffusion/facile/ValidatorTest.java
  comp/src/test/resources/facile/validator_texte.xml
  pom.xml
Due: test, maven_docker_build, deploy_on_dev

[maven-release-plugin] prepare release ortolang-diffusion-9.16.0
  api/pom.xml
  appli/pom.xml
  client/pom.xml
  comp/pom.xml
  pom.xml
Due: none

subscription error message
  api/src/main/java/fr/ortolang/diffusion/subscription/SubscriptionServlet.java
  comp/src/main/java/fr/ortolang/diffusion/security/authentication/TicketHelper.java
Due: test, maven_docker_build, deploy_on_dev

Decreases log level of subscription
  api/src/main/java/fr/ortolang/diffusion/subscription/SubscriptionServlet.java
  comp/src/main/java/fr/ortolang/diffusion/subscription/SubscriptionServiceBean.java
Due: test, maven_docker_build, deploy_on_dev

Moves javamelody log to separate file
  src/main/docker/configuration/wildfly-24.0.0.Final/standalone.xml
Due: maven_docker_build, deploy_on_dev

Logs No current entry to close (Closes #87)
  comp/src/main/java/fr/ortolang/diffusion/archive/ArchiveServiceBean.java
Due: test, maven_docker_build, deploy_on_dev

Uses POSIX Tar option (Closes #88)
  comp/src/main/java/fr/ortolang/diffusion/archive/ArchiveServiceBean.java
Due: test, maven_docker_build, deploy_on_dev

[maven-release-plugin] prepare release ortolang-diffusion-9.17.0
  api/pom.xml
  appli/pom.xml
  client/pom.xml
  comp/pom.xml
  pom.xml
Due: none

Fixes getSnapshot
  comp/src/main/java/fr/ortolang/diffusion/runtime/engine/task/CreateSipArchiveTask.java
Due: test, maven_docker_build, deploy_on_dev

Resolve "send sip ftp"
  comp/pom.xml
  comp/src/main/java/fr/ortolang/diffusion/OrtolangConfig.java
  comp/src/main/java/fr/ortolang/diffusion/archive/ArchiveService.java
  comp/src/main/java/fr/ortolang/diffusion/archive/ArchiveServiceBean.java
  comp/src/main/java/fr/ortolang/diffusion/runtime/engine/task/CreateSipArchiveTask.java
  comp/src/main/resources/config.properties
  pom.xml
  src/main/docker/config.properties
Due: test, maven_docker_build, deploy_on_dev

[maven-release-plugin] prepare release ortolang-diffusion-9.18.0
  api/pom.xml
  appli/pom.xml
  client/pom.xml
  comp/pom.xml
  pom.xml
Due: none

Resolve "store aip"
  api/src/main/java/fr/ortolang/diffusion/api/admin/AdminResource.java
  api/src/main/java/fr/ortolang/diffusion/api/admin/AipFormRepresentation.java
  comp/pom.xml
  comp/src/main/java/fr/ortolang/diffusion/archive/ArchiveService.java
  comp/src/main/java/fr/ortolang/diffusion/archive/ArchiveServiceBean.java
  comp/src/main/java/fr/ortolang/diffusion/archive/aip/entity/Aip.java
  comp/src/main/java/fr/ortolang/diffusion/archive/aip/entity/Communicabilite.java
  comp/src/main/java/fr/ortolang/diffusion/archive/aip/entity/DocDC.java
  comp/src/main/java/fr/ortolang/diffusion/archive/aip/entity/DocMeta.java
  comp/src/main/java/fr/ortolang/diffusion/archive/aip/entity/DocRelation.java
  comp/src/main/java/fr/ortolang/diffusion/archive/aip/entity/Evaluation.java
  comp/src/main/java/fr/ortolang/diffusion/archive/aip/entity/package-info.java
  comp/src/main/java/fr/ortolang/diffusion/archive/format/FichMetaConstants.java
  comp/src/main/java/fr/ortolang/diffusion/archive/format/SipConstants.java
  comp/src/main/java/fr/ortolang/diffusion/bootstrap/BootstrapServiceBean.java
  comp/src/main/java/fr/ortolang/diffusion/core/entity/MetadataFormat.java
  comp/src/main/java/fr/ortolang/diffusion/util/LangConstants.java
  comp/src/main/resources/schema/system-aip-schema.json
  comp/src/main/resources/schema/system-fichmeta-schema.json
  comp/src/main/resources/xsd/aip.xsd
  comp/src/main/resources/xsd/ip.xsd
  comp/src/test/java/fr/ortolang/diffusion/DiffusionTestSuite.java
  comp/src/test/java/fr/ortolang/diffusion/archive/AipTest.java
  comp/src/test/java/fr/ortolang/diffusion/archive/ArchiveServiceTest.java
  comp/src/test/java/fr/ortolang/diffusion/core/CoreServiceTest.java
  comp/src/test/java/fr/ortolang/diffusion/membership/MembershipServiceTest.java
  comp/src/test/resources/archive/aip_test.xml
  comp/src/test/resources/archive/aip_test_sample.xml
  comp/src/test/resources/config.properties
  pom.xml
Due: test, maven_docker_build, deploy_on_dev

[maven-release-plugin] prepare release ortolang-diffusion-9.19.0
  api/pom.xml
  appli/pom.xml
  client/pom.xml
  comp/pom.xml
  pom.xml
Due: none

Fix httpclient vuln (Closes #91)
  api/pom.xml
  comp/pom.xml
  pom.xml
Due: none

Replaces keystore (Closes #92)
  src/main/docker/configuration/server.keystore
Due: maven_docker_build, deploy_on_dev

Allows to deploy on dev
  .gitlab-ci.yml
Due: none

Resolve "handle OAI"
  api/src/main/java/fr/ortolang/diffusion/api/mapper/RecordNotFoundExceptionMapper.java
  api/src/main/java/fr/ortolang/diffusion/api/oai/OaiResource.java
  comp/src/main/java/fr/ortolang/diffusion/ftp/FtpServiceBean.java
  comp/src/main/java/fr/ortolang/diffusion/oai/OaiService.java
  comp/src/main/java/fr/ortolang/diffusion/oai/OaiServiceBean.java
  comp/src/main/java/fr/ortolang/diffusion/oai/OaiWorkerBean.java
  comp/src/test/java/fr/ortolang/diffusion/oai/OaiServiceTest.java
Due: test, maven_docker_build, deploy_on_dev

[maven-release-plugin] prepare release ortolang-diffusion-9.20.0
  api/pom.xml
  appli/pom.xml
  client/pom.xml
  comp/pom.xml
  pom.xml
Due: none

Resolve "API OAI HTML"
  api/pom.xml
  api/src/main/java/fr/ortolang/diffusion/api/oai/OaiRecordRepresentation.java
  api/src/main/java/fr/ortolang/diffusion/api/oai/OaiResource.java
  api/src/main/java/fr/ortolang/diffusion/api/oai/metadata/GenericOaiXmlDocument.java
  api/src/main/java/fr/ortolang/diffusion/api/oai/metadata/GenericOaiXmlParser.java
  api/src/main/java/fr/ortolang/diffusion/api/oai/metadata/OaiXmlDocument.java
  api/src/main/java/fr/ortolang/diffusion/api/oai/metadata/OaiXmlValue.java
  api/src/main/java/fr/ortolang/diffusion/api/oai/metadata/cmdi/CmdiDocument.java
  api/src/main/java/fr/ortolang/diffusion/api/oai/metadata/cmdi/CmdiDocumentConstants.java
  api/src/main/java/fr/ortolang/diffusion/api/oai/metadata/cmdi/CmdiParser.java
  api/src/main/resources/templates/cmdi.ftl
  api/src/main/resources/templates/oai_dc.ftl
  api/src/main/resources/templates/olac.ftl
  api/src/test/java/fr/ortolang/diffusion/api/oai/OaiTemplateTest.java
  api/src/test/resources/cmdi.xml
  api/src/test/resources/oai_dc.xml
  api/src/test/resources/olac.xml
  comp/src/main/java/fr/ortolang/diffusion/oai/OaiWorkerBean.java
  pom.xml
Due: test, maven_docker_build, deploy_on_dev
